{% extends "base.html" %}

{% block content %}
<h1 class="mb-5">Join Our Team</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card h-100 border-danger mb-3">
            <div class="card-header bg-danger text-white">
                Positions
            </div>
            <div class="card-body">
                <h5 class="card-title">Research Fellowships</h5>
                <p class="card-text"> 
                    We are available to support applications for various fellowship schemes including (but not limited to):
                </p>
                <ul>
                    <li><a href="https://www.ukri.org/councils/epsrc/">Engineering and Physical Sciences Research Council (EPSRC) - Fellowships</a></li>
                    <li><a href="https://www.leverhulme.ac.uk/early-career-fellowships">Leverhulme Trust - Early Career Research Fellowships</a></li>
                    <li><a href="https://www.raeng.org.uk/programmes-and-prizes/programmes/uk-grants-and-prizes/support-for-research/research-fellowships">Royal Academy of Engineering - Research Fellowships</a></li>
                </ul>
                <p>
                    Please contact us with your CV and a brief research proposal if you are interested in applying.
                </p>
                <a href="mailto:damian.arellanes@lancaster.ac.uk" class="btn btn-outline-danger">Contact Us</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card h-100 border-dark mb-3">
            <div class="card-header bg-dark text-white">
                PhD Opportunities
            </div>
            <div class="card-body">
                <h5 class="card-title">Funded PhD Projects</h5>
                <p class="card-text">
                    The following fully funded PhD studentships are currently available:
                </p>
                <ul>
                    <li><strong>Deadline: 15 May 2026:</strong> <a href="https://www.lancaster.ac.uk/scc/study/phd/phd-opportunities/#fully-funded-phd-studentships-epsrc-dla-343328-5">One fully funded PhD studenship for an international applicant</a>, supported by the  EPSRC Doctoral Landscape Award (DLA).</li>
                    </br>
                    <li><strong>Deadline: 15 May 2026:</strong> <a href="https://www.lancaster.ac.uk/scc/study/phd/phd-opportunities/#fully-funded-phd-studentships-epsrc-dla-343328-5">Two fully funded PhD studenships for UK applicants</a>, supported by the  EPSRC Doctoral Landscape Award (DLA).</li>                    
                </ul>
                <p>
                    Prospective students should contact a <a href="{{ url_for('show_people') }}">prospective supervisor</a> in advance. For further information, please contact us.                     
                </p>
                <a href="mailto:damian.arellanes@lancaster.ac.uk" class="btn btn-outline-dark">Contact Us</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
